Repository CrashLoopBackCoffee/th-strava-sensor: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint

pyright:
  name: pyright
  entry: ./.venv/bin/pyright --warnings
  language: system

ruff-format:
  name: ruff-format
  entry: ./.venv/bin/ruff format
  language: system

ruff-check:
  name: ruff-check
  entry: ./.venv/bin/ruff check --fix
  language: system

yamllint:
  name: yamllint
  entry: ./.venv/bin/yamllint --strict -c=.yamllint
  language: system

Add run-all-checks script
  .envrc
  scripts/run-all-checks.sh
Due: none

Add fitfile parsing
  .pre-commit-config.yaml
  pyproject.toml
  scripts/run-all-checks.sh
  src/strava_sensor/fitfile/__init__.py
  src/strava_sensor/fitfile/cli.py
  src/strava_sensor/fitfile/fitfile.py
  src/strava_sensor/fitfile/model.py
  tests/__init__.py
  tests/conftest.py
  tests/fixtures/test-1.fit
  tests/test_fitfile.py
  uv.lock
Due: pyright, ruff-format, ruff-check, yamllint

Run tests in actions
  .github/workflows/linters.yml
Due: yamllint

Move cli into main package
  pyproject.toml
  src/strava_sensor/cli.py
Due: pyright, ruff-format, ruff-check

Add mqtt publishing
  .envrc
  pyproject.toml
  src/strava_sensor/cli.py
  src/strava_sensor/fitfile/model.py
  src/strava_sensor/mqtt/__init__.py
  src/strava_sensor/mqtt/mqtt.py
  uv.lock
Due: pyright, ruff-format, ruff-check

Cleanup envrc
  .envrc
Due: none

Enhance logging
  src/strava_sensor/fitfile/fitfile.py
Due: pyright, ruff-format, ruff-check

Introduce sources
  pyproject.toml
  src/strava_sensor/cli.py
  src/strava_sensor/source/__init__.py
  src/strava_sensor/source/base.py
  src/strava_sensor/source/file.py
Due: pyright, ruff-format, ruff-check

Add garmin source
  .envrc
  pyproject.toml
  src/strava_sensor/cli.py
  src/strava_sensor/source/garmin.py
  uv.lock
Due: pyright, ruff-format, ruff-check

Support Strava as meta source
  .envrc
  README.md
  pyproject.toml
  src/strava_sensor/cli.py
  src/strava_sensor/source/base.py
  src/strava_sensor/source/file.py
  src/strava_sensor/source/garmin.py
  src/strava_sensor/source/strava.py
  src/strava_sensor/strava/__init__.py
  uv.lock
Due: pyright, ruff-format, ruff-check

Inject strava client to StravaSource
  src/strava_sensor/cli.py
  src/strava_sensor/source/strava.py
Due: pyright, ruff-format, ruff-check

Cleanup StravaSource
  src/strava_sensor/source/strava.py
Due: pyright, ruff-format, ruff-check

Add initial copilot instructions
  .github/copilot-instructions.md
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: yamllint

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: yamllint

Fix linter
  .github/workflows/claude.yml
Due: yamllint

Fix linters
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: yamllint

Skip direnv if service account token already exists
  .envrc
Due: none

Add initial claude memory
  CLAUDE.md
Due: none

Optimize direnv 1Password credential loading
  .envrc
Due: none

Refactor direnv for multi-developer setup
  .env.local.example
  .envrc
  .gitignore
  README.md
Due: none

Add git-cliff configuration for automated changelog generation
  cliff.toml
Due: none

feat: add automated changelog generation workflow
  .github/workflows/changelog.yml
  cliff.toml
Due: yamllint

Fix repo name in cliff config
  cliff.toml
Due: none

fix: use git-cliff-action version output instead of calling git-cliff directly
  .github/workflows/changelog.yml
Due: yamllint

refactor: simplify version update step in changelog workflow
  .github/workflows/changelog.yml
Due: yamllint

refactor: remove unnecessary current_version step
  .github/workflows/changelog.yml
Due: yamllint

refactor: replace third-party PR action with native gh CLI
  .github/workflows/changelog.yml
Due: yamllint

feat: improve PR handling with static branch and update capability
  .github/workflows/changelog.yml
Due: yamllint

feat: make Claude Code review workflow comment-triggered
  .github/workflows/claude-code-review.yml
Due: yamllint

Fix cliff config
  cliff.toml
Due: none

Reset version
  pyproject.toml
Due: none

refactor: use git-cliff-action version output in release workflow
  .github/workflows/release.yml
Due: yamllint

feat: add manual trigger for changelog generation
  .github/workflows/changelog.yml
Due: yamllint

refactor: remove labeled trigger since it doesn't work for merged PRs
  .github/workflows/changelog.yml
Due: yamllint

Linters should run on pull requests
  .github/workflows/linters.yml
Due: yamllint

chore: prepare release 0.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

Use pat to create release
  .github/workflows/changelog.yml
Due: yamllint

fix: only update open PRs in changelog workflow
  .github/workflows/changelog.yml
Due: yamllint

Remove surplus empty line from changelog
  cliff.toml
Due: none

Path conditions:
  pyright: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
