Repository CrashLoopBackCoffee/th-strava-sensor: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint

pyright:
  name: pyright
  entry: uv run pyright --warnings
  language: system
  pass_filenames: false

ruff-format:
  name: ruff-format
  entry: uv run ruff format
  language: system
  pass_filenames: false

ruff-check:
  name: ruff-check
  entry: uv run ruff check --fix
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: uv run yamllint --strict -c=.yamllint .
  language: system
  pass_filenames: false

chore: prepare release v1.1.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: convert Docker repository name to lowercase
  .github/workflows/docker.yml
Due: yamllint

chore: prepare release v1.1.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: convert Docker repository name to lowercase in release workflow
  .github/workflows/release.yml
Due: yamllint

chore: prepare release v1.1.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: prepare release v1.1.2
  CHANGELOG.md
Due: none

Pin garminconnnect
  pyproject.toml
  uv.lock
Due: none

Fix garmin typing
  src/strava_sensor/source/garmin.py
Due: pyright, ruff-format, ruff-check

Consolidate agent guidance into AGENTS
  AGENTS.md
Due: none

Keep UV version unchanged in workflow
  .github/workflows/docker.yml
Due: yamllint

Speed up slow tests
  tests/conftest.py
  tests/test_fitfile.py
  tests/test_webhook.py
Due: pyright, ruff-format, ruff-check

Fix fixture scopes
  tests/conftest.py
Due: pyright, ruff-format, ruff-check

chore(ci): restore pip/poetry install in linters
  .github/workflows/changelog.yml
  .github/workflows/linters.yml
  .github/workflows/release.yml
Due: yamllint

Update docker uv version handling
  .github/workflows/docker.yml
  Dockerfile
Due: yamllint

Downgrade UV_VERSION from 0.10.0 to 0.8.0
  Dockerfile
Due: none

chore: bootstrap auto changelog config
  .autorc
  CONTRIBUTING.md
Due: none

chore: migrate release workflows to auto
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: yamllint

fix(ci): load git-tag plugin for auto changelog
  .github/workflows/changelog.yml
Due: yamllint

fix(ci): make changelog versioning deterministic
  .github/workflows/changelog.yml
Due: yamllint

fix(ci): simplify auto changelog workflow
  .autorc
  .github/workflows/changelog.yml
Due: yamllint

Document future import guidance
  AGENTS.md
Due: none

fix(ci): parse auto changelog header versions
  .github/workflows/changelog.yml
Due: yamllint

chore: prepare release v2.0.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): support auto changelog headers in release notes extraction
  .github/workflows/release.yml
Due: yamllint

chore: prepare release v2.0.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): make release notes extraction deterministic
  .github/workflows/release.yml
Due: yamllint

chore(ci): re-enable auto git-tag plugin
  .autorc
Due: none

fix(ci): use auto release binary in changelog workflow
  .github/workflows/changelog.yml
Due: yamllint

chore: prepare release v2.0.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ci): pass release version to notes extractor
  .github/workflows/release.yml
Due: yamllint

chore: prepare release v2.0.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

Fix strava webhook registration
  src/strava_sensor/webhook_server.py
  tests/test_webhook.py
Due: pyright, ruff-format, ruff-check

Bind status page labels to data
  README.md
  pyproject.toml
  src/strava_sensor/runtime_state.py
  src/strava_sensor/ui/__init__.py
  src/strava_sensor/ui/status_page.py
  src/strava_sensor/webhook_server.py
  uv.lock
Due: pyright, ruff-format, ruff-check

Keep webhook server running on subscription errors
  src/strava_sensor/runtime_state.py
  src/strava_sensor/ui/status_page.py
  src/strava_sensor/webhook_server.py
Due: pyright, ruff-format, ruff-check

Move status ui to /
  README.md
  src/strava_sensor/ui/status_page.py
  src/strava_sensor/webhook_server.py
Due: pyright, ruff-format, ruff-check

Add optional webhook registration delay
  .env.local.example
  README.md
  src/strava_sensor/webhook_server.py
  tests/test_webhook.py
Due: pyright, ruff-format, ruff-check

Rename webhook server to strava-sensor
  AGENTS.md
  Dockerfile
  README.md
  pyproject.toml
Due: none

Improve logging
  src/strava_sensor/webhook_server.py
Due: pyright, ruff-format, ruff-check

Add status line
  src/strava_sensor/ui/status_page.py
Due: pyright, ruff-format, ruff-check

Add button to disconnect/reconnect mqtt
  src/strava_sensor/ui/status_page.py
  src/strava_sensor/webhook_server.py
  tests/test_webhook.py
Due: pyright, ruff-format, ruff-check

Path conditions:
  pyright: any of: \.py$
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
