Repository CrashLoopBackCoffee/th-strava-sensor: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, ruff-format, ruff-check, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-toml
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: pretty-format-json
        args: [--autofix]
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: ./.venv/bin/pyright --warnings
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: ./.venv/bin/ruff format
        language: system
        types: [python]
      - id: ruff-check
        name: ruff-check
        entry: ./.venv/bin/ruff check --fix
        language: system
        types: [python]
      - id: yamllint
        name: yamllint
        entry: ./.venv/bin/yamllint --strict -c=.yamllint
        language: system
        types: [yaml]

      # Pre-push hooks, whichy take too long during pre-commit
      - id: pytest
        stages: [pre-push]
        name: pytest
        entry: ./.venv/bin/pytest tests --cov --cov-report=term-missing --cov-report=xml:coverage.xml
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

chore: prepare release 0.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: use --bump instead of --latest in release workflow
  .github/workflows/release.yml
Due: yamllint

chore: prepare release 0.1.0
  CHANGELOG.md
Due: none

fix: improve changelog formatting in git-cliff config
  cliff.toml
Due: none

chore: prepare release v0.1.1
  CHANGELOG.md
  pyproject.toml
Due: none

fix: prevent double 'v' prefix in release workflow tag creation
  .github/workflows/release.yml
Due: yamllint

fix: remove 'v' prefix from pyproject.toml version in changelog workflow
  .github/workflows/changelog.yml
  pyproject.toml
Due: yamllint

chore: prepare release v0.1.2
  CHANGELOG.md
  pyproject.toml
Due: none

fix: remove duplicate headers in GitHub release body
  .github/workflows/release.yml
Due: yamllint

chore: prepare release v0.1.3
  CHANGELOG.md
  pyproject.toml
Due: none

Only show the latest release in github release
  .github/workflows/release.yml
Due: yamllint

Use git cliff --unreleased
  .github/workflows/release.yml
Due: yamllint

chore: prepare release v0.1.4
  CHANGELOG.md
  pyproject.toml
Due: none

Add strava webhook support
  .github/copilot-instructions.md
  README.md
  pyproject.toml
  scripts/run-localtunnel.sh
  src/strava_sensor/cli.py
  src/strava_sensor/strava/webhook.py
  src/strava_sensor/webhook_server.py
  tests/test_webhook.py
  uv.lock
Due: pyright, ruff-format, ruff-check

fix: use safe environment variable access in CLI
  src/strava_sensor/cli.py
Due: pyright, ruff-format, ruff-check

refactor: extract magic numbers to constants in Garmin source
  src/strava_sensor/source/garmin.py
Due: pyright, ruff-format, ruff-check

feat: add robust MQTT publishing with retries and error handling
  src/strava_sensor/cli.py
  src/strava_sensor/fitfile/model.py
  src/strava_sensor/mqtt/mqtt.py
  src/strava_sensor/webhook_server.py
Due: pyright, ruff-format, ruff-check

docs: emphasize linter script usage in copilot instructions
  .github/copilot-instructions.md
Due: none

fix: add MQTT connection timeout in CLI to prevent hangs
  src/strava_sensor/cli.py
Due: pyright, ruff-format, ruff-check

feat: add MQTT connection event handlers for better monitoring
  src/strava_sensor/mqtt/mqtt.py
Due: pyright, ruff-format, ruff-check

feat: enable automatic MQTT reconnection with exponential backoff
  src/strava_sensor/mqtt/mqtt.py
Due: pyright, ruff-format, ruff-check

cleanup: remove unused MQTT subscription code
  src/strava_sensor/mqtt/mqtt.py
Due: pyright, ruff-format, ruff-check

refactor: extract hardcoded version to constant
  src/strava_sensor/fitfile/model.py
Due: pyright, ruff-format, ruff-check

refactor: improve webhook server thread safety with asyncio
  src/strava_sensor/strava/webhook.py
  src/strava_sensor/webhook_server.py
Due: pyright, ruff-format, ruff-check

feat: enhance health check endpoint with MQTT status
  src/strava_sensor/webhook_server.py
Due: pyright, ruff-format, ruff-check

Simplify test cases
  tests/test_webhook.py
  uv.lock
Due: pyright, ruff-format, ruff-check

chore: prepare release v0.1.5
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add semantic version bump detection script
  .github/workflows/changelog.yml
  scripts/determine-bump-type.sh
Due: yamllint

fix: install git-cliff before running bump detection script
  .github/workflows/changelog.yml
Due: yamllint

fix: use kenji-miyake/setup-git-cliff for proper installation
  .github/workflows/changelog.yml
Due: yamllint

chore: prepare release v1.0.0
  CHANGELOG.md
  pyproject.toml
Due: none

fix: update release workflow to use proper semantic versioning
  .github/workflows/release.yml
Due: yamllint

chore: prepare release v1.0.0
  CHANGELOG.md
Due: none

fix: make bump detection more robust by removing emoji dependency
  scripts/determine-bump-type.sh
Due: none

Fix pre-commit validation
  .pre-commit-config.yaml
Due: yamllint

feat: add Docker containerization with multi-stage build and CI/CD
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  pyproject.toml
  uv.lock
Due: yamllint

improve: enhance webhook server startup error handling
  src/strava_sensor/webhook_server.py
Due: pyright, ruff-format, ruff-check

docs: add reminder to run quality checks after changes
  CLAUDE.md
Due: none

fix: sync uv.lock with version bump in changelog workflow
  .github/workflows/changelog.yml
Due: yamllint
